<div>
<h1>Luis Covarrubia Fernandez</h1>
</div>

<div>
      <%=link_to "link_pages_two_por_erb", pages_two_url %>
    </div>

  <div>
  <a href="<%=pages_index_path %>">link_pages_index_html</a>
  </div>

  <div>
      <%=link_to "link_pages_index_por_erb", root_path %>
    </div>